<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <!-- 美食 Tab -->
  <ion-tab title="美食" icon-off="ion-ios-nutrition-outline" icon-on="ion-ios-nutrition" href="#/tab/deliciousfood">
    <ion-nav-view name="tab-deliciousfood"></ion-nav-view>
  </ion-tab>

  <!-- 故事 Tab -->
  <ion-tab title="故事" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/story">
    <ion-nav-view name="tab-story"></ion-nav-view>
  </ion-tab>

  <!-- 我的 Tab -->
  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>
</ion-tabs>
